.button-calendar:before {
  content: "\f073";
  font-family: FontAwesome;
  font-size: 1.8em;
  margin-right: 5px;
}
#calendar-warning {
    display: none;
}

#calendar_block {
    font-size: 0.7em;
}

/* Style fc container. */
td.fc-day {
    border-color: #ddd !important;
}
td.fc-day-top.fc-today {
    background: #e3ecfc !important;
    border-bottom: 1px solid #ddd !important;
}
td.fc-today {
    background: #e3ecfc !important;
}
td.fc-day-top.fc-past {
    border-bottom: 1px solid #ddd !important;
}

td.fc-day-top.fc-future {
    border-bottom: 1px solid #ddd !important;
}

.fc .fc-button-primary { 
  color: #696969!important;
  background-color: #fff!important;
}

/* Style the dialog-off-canvas container. */
/* Layer the dialog just under the toolbar. */
.ui-dialog.ui-dialog-off-canvas {
    color: #333!important;
    background: #f5f5f5!important;
}
#drupal-off-canvas .fc-day-top {
    padding-right: 20px !important;
}
#drupal-off-canvas .fc-state-active, .fc-state-disabled, .fc-state-down, .fc-state-hover, .fc-today-button {
    color: #333;
    background-color: #dbdbdb;
}
#drupal-off-canvas .fc-title {
    color: #fff;
}

.fc-today .fc-day-number{
    color:#0064ff !important;
}

.fc-scroller {
    scrollbar-width: thin;
    height:fit-content;
}
.fc-day-grid-container {
    height:fit-content!important;
}
#drupal-off-canvas td,
#drupal-off-canvas th {
    border-bottom: 0px solid #fff;
}

#drupal-off-canvas button,
#drupal-off-canvas .button {
  margin: 0 3px 10px;
  padding: 2px;
  cursor: pointer;
  border: 1px solid #cacaca;
  background: transparent;
}

#drupal-off-canvas th:first-child, #drupal-off-canvas td:first-child {
    width: auto;
}

.cal-tooltip {
    display: block !important;
    background: #eeeeee !important;
    visibility: visible !important;
    border: 1px solid #444444 !important;
    border-radius: 2px !important;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15) !important;
}

