.widget {
 
  width: 49%;
  float: left;
  margin-right:2px;
}


.widget-title {

}

.widget-content {
  
  border: 1px solid #dbdbdb;
  background-color: #fff;
  padding-bottom: 5px;
  padding-left: 10px;
  height: 200px;
  overflow: auto;
  border: solid 1px #dbdbdb;
  border-radius: 0.3em;

}

.ico:before {
  font-family: FontAwesome;
  font-size:1.3em;
  color: #446E9B;
  width: 1.2em;
  text-align: center;
  display: inline-block;
  text-rendering: auto;
}

.square:before {
  content: "\f096";
  color:blue; 
}
.check-square:before {
  content: "\f046";
  color:green; 
}
.disabled-square:before {
  content: "\f096";
  color:grey; 
}

