.tip-module-ek-projects{
  background-color: #CEE3F6 !important;
}

.panel-default {
}
.panel {
 padding: 0px !important;
}

.panel-default > .panel-heading {

}
.panel-heading {
    padding: 2px 2px 3px 15px;
}

.panel-body {
}
.panel-title {
    //color: #446E9B;
    font-family: sans-serif;
}
.table {
    display: table;
    width: 100%;
}

.tlabel {
    text-shadow: 0 1px 0 #fff !important;
    background-color: #CEE3F6 ;
}

.row {
    display : table-row;
    height:auto;
}

.header_tb {  
    display : table-cell;
}

.cell {  
    display : table-cell;
}

.cellborder {  
    border-width: thin ;
    border-spacing: 1px;
    border-style: solid;
    border-color: #A4A4A4;
    border-collapse: collapse;
    background-color: #CEE3F6;
    padding: 2px;
}


.closed {
}

.text-left {
    float: left;
}

.text-right {
    float: right;
}

.delete {
    background-color: #FF6666;
    color: #FFFFFF;
    background: none repeat scroll 0 0 #FF6666 !important;
}

.select {
    background-color: #66FF97;
    color: #FFFFFF;
}

.awarded {
    background-color: #66FF97;
    color: #173B0B;
}

.editBackground{
   background-color: #e7e7e7;
}
.open {
    background-color: #FFE166;
    color: #424242;
}

.closed {
    background-color: #FF6666;
    color: #FFFFFF;
}

.help {
    font-size: 0.8em;
}

.red {
    color: #FF6666;
}
.green {
    color: #00D744;
}
.blue {
    color: #2E64FE;
}
.orange {
    color: #FF8000;
}

.field_edit {
    display:none;
}

.ui-datepicker{
    z-index:3000 !important;
}
.ui-menu{
    z-index:3000 !important;  
}

.project-name {
    color: #424242;
    font-family: sans-serif;
}

#tracker {
    height:12em; 

}

#tracker h4 {
    border-bottom: 1px solid #d6d6d6;
    font-size: 1.071em;
    line-height: 1.2;
    margin: 0 0 0.5em;
    padding-bottom: 5px;
    text-shadow: 0 1px 0 #fff;
}

.tracklist {
    background-color: #e7e7e7;
    height:8em;
    overflow:auto;
}


.open-ico {
      
}
.open-ico:before {
    content: "\f2d0"; 
    font-family: FontAwesome;
    font-size:1.5em;
    padding-left: 5px;
    color: #419ff1;
    cursor:pointer;
}
.close-ico {
      
}
.close-ico:before {
    content: "\f2d1"; 
    font-family: FontAwesome;
    padding-left: 5px;
    font-size:1.5em;
    color: #446E9B;
    cursor:pointer;
}
.top-ico:before {
    content: "\f0aa"; 
    font-family: FontAwesome;
    font-size:1.8em;
    color: #446E9B;
    float:right;
}

.btn {
  -webkit-user-select:none;
  background-image:none;
  border:1px solid transparent;
  border-radius:4px;
  cursor:pointer;
  display:inline-block;
  font-size:14px;
  font-weight:400;
  line-height:1.42857;
  margin-bottom:0;
  padding:6px 12px;
  text-align:center;
  touch-action:manipulation;
  vertical-align:middle;
  white-space:nowrap;
}

.follow {
  background-color:#5CB85C;
  border-color:#4CAE4C;
  color:#FFFFFF;  
}

._follow {
  background-color:#D9534F;
  border-color:#D43F3A;
  color:#FFFFFF;  
}

.edit {
  background-color:#FF8000;
  color:#FFFFFF;  
}

._edit {
  background-color:#A4A4A4;
  color:#FFFFFF;  
}

.ico:before {
  font-family: FontAwesome;
  font-size:1.3em;
  color: #446E9B;
  width: 1.4em;
  text-align: center;
  display: inline-block;
  text-rendering: auto;
}
.show-ico:before {
  content: "\f06e";
}
.hide-ico:before {
  content: "\f070";
  color:#000;
}

.pencil:before {
  content: "\f040";
  color:#FFFFFF;
}

.pencil-edit:before {
  content: "\f040";
  color:#FF8000;
}
.users:before {
  content: "\f0c0"; 
}

.address-card:before {
  content: "\f2bc"; 
}

.exchange:before {
  content: "\f0ec"; 
}

.user-circle:before {
  content: "\f2be"; 
}

.envelope:before {
  content: "\f003"; 
}

.lock:before {
  content: "\f023"; 
}

.tasks:before {
  content: "\f0ae"; 
}

.square:before {
  content: "\f096";
  color:#FFFFFF; 
}
.check-square:before {
  content: "\f046";
  color:#FFFFFF; 
}
