{#
/**
 * @file
 * Default theme implementation for rendering search widget.
 *
 *
 * Available items:
 *   - title.
 *   - content.
 *   

 *
 * @see template_preprocess_ek_hr_search()
 *
 * @ingroup themeable
 */
#}

<h4 class="">{{ items.title }}</h4>
<div>{{ items.content|raw }}</div>
