{#
/**
 * @file
 * Default theme implementation for rendering dashboard widget.
 *
 *
 * Available items:
 *   - title.
 *   - content.
 *   - footer.

 *
 * @see template_preprocess_ek_hr_dashboard()
 *
 * @ingroup themeable
 */
#}

  <div class="dashcolumn">
      <div class="widget">
        <div class="widget-title">
          <a href='#s0'>
            <span class='ui-icon ui-icon-minusthick widget-toggle'></span>
          </a>
            <h4 class="widget-titl-text">{{ items.title }}</h4>
          
        </div>
        <div class="widget-content"  style='' id="{{ items.id }}">      
          <div>{{ items.content|raw }}</div>
        </div>
        <div class="widget-footer">
              {{ items.footer }} 
        </div>
      </div>
    </div>