<header class="masthead">
    <div class="container">
        <div class="lrow">
            <div class="col-lg-6 my-auto">
                <div class="header-content mx-auto">
                    <h1 class="">{{ items.name }}</h1>
                    <div class="login">
                        {{ items.form }}
                     </div>
                </div>
            </div>
            <div class="col-lg-6 my-auto">
            </div>
        </div>
    </div>
</header>

