.widget {
 
  width: 49%;
  float: left;
  margin-right:2px;
}


.widget-title {
  background-color: #A9BCF5;
  padding-left: 20px;
}

.widget-title h4 {
  color: #0B173B;
}


.widget-content {
  
  border: 1px solid #ccc;
  background-color: #fff;
  padding-bottom: 5px;
  padding-left: 10px;
  height: 200px;
  overflow: auto;


}

