 <div class='bar' id="bar-top">
    <div class='float-right'>
    <div id='expand' class='open-ico'></div>
   </div>
   <div class='float-right' id='gridview'>
    <div class='grid-ico'></div>
   </div>
   <div class='float-right' id='listview'>
    <div class='list-ico'></div>
   </div>
 </div>
<div id='myDocs'></div>
<div><p onclick="jQuery('html, body').animate({ scrollTop: 0 }, 'slow');" class="top-ico"></p></div>