/* =========================================================================
Login page
========================================================================== */
header.masthead {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: white;
    background: whitesmoke url('../css/images/background1024.jpg') no-repeat center center;
    background-size:cover;
}

.header-content {
    padding: 20px 10px 20px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    color: rgba(37, 76, 170);
}

.header-content:before{
    box-sizing: border-box;
}
.header-content:after{
    box-sizing: border-box;
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 775px;
        padding-top: 0;
        padding-bottom: 0;
    }
    header.masthead .header-content {
        margin-bottom: 0;
        text-align: left;
    }
    header.masthead .header-content h1 {
        font-size: 50px;
    }
    header.masthead .device-container {
        max-width: 325px;
    }
}

.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    height: 100% !important;
}

.lrow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100% !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-width: 330px;
}

.login {
    padding: 50px;
}

.login input[type=text],.login input[type=password] {
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    touch-action: auto;
    width: 100%;
    border-width: 0 0 2px 0;
    border-color: rgba(37, 76, 170);
    background: whitesmoke;
    height: 30px;
    font-size: large;
}

.login input[type=submit] {
    border-radius: 300px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 20px;
    color: rgba(37, 76, 170);
    border: 1px solid;
    border-color: rgba(37, 76, 170);
    background-color: whitesmoke;
    padding: 10px 30px;
}

.login input[type=submit]:hover {
    color: whitesmoke;
    background-color: rgba(37, 76, 170);
    cursor:pointer;
}

.login .form-item {
    margin-top:10px;
}

.login .description {
    color: #fff;
    display:none;
}

@media (min-width: 768px) {
    
}


/* =========================================================================
App
========================================================================== */
.table {
    display: table;
    width: 100%;
}

.row {
    display : table-row;
    height:auto;
}

.header_tb {  
    display : table-cell;
    padding: 5px 5px 5px 5px;
}

.cell {  
    display : table-cell;
    padding: 1px 1px 1px 1px;
}

.thumbnail {
    width : 100px;

}

.panel-default {
    border-color: #DDDDDD;
}
.panel {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-default > .panel-heading {
    background-color: #A9BCF5;
    border-color: #A9BCF5;
    color: #333333;
}
.panel-heading {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}

.panel-body {
    padding: 15px;
}

/* clipboard */
.clipboard_add:before {
    font-family: FontAwesome;
    font-size:1em;
    color: #446E9B;
    width: 1.4em;
    text-align: center;
    display: inline-block;
    text-rendering: auto;
    content: "\f0c5";
    padding-right: 10px;

}

.clipboard_add {
    border-bottom: 0px ;
}

.text-left {
    float: left;
}

.text-right {
    float: right;
}

.delete {
    background-color: #FF6666;
    color: #FFFFFF;
}

.select {
    background-color: #66FF97;
    color: #0B3B0B;
}

.red {
    color: #FF6666 !important;
}

.green {
    color: #00D744 !important;
}

.blue {
    color: #2E64FE !important;
}

.orange {
    color: #FFC900 !important;
}

.ek_messages {
    background-color: #E0ECF8;
    color: #A9BCF5;
    border: 5px solid;
    border-radius: 5px;
    padding: 20px;
}

.ek_messages p {
    color: #3276b1;
    text-align: center;
}

.loading {
    background-repeat: no-repeat;
    width:16px;
    height:16px;
    margin-top:5px;
    margin-left:5px;
    background-image: url(../css/images/loading.gif);
}

.ico:before {
    font-family: FontAwesome;
    font-size:1.3em;
    width: 1.4em;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.show-ico:before {
    content: "\f06e";
}
.hide-ico:before {
    content: "\f070";
    color:#000;
}
.print:before {
    content: "\f02f";
}
.pdf:before {
    content: "\f1c1";
}
.excel:before {
    content: "\f1c3";
}

/*
* Settings dashboard
*/
.admin_list li {
    width: auto;
    padding: 2px;
    overflow: hidden;
    float:left;
}

.admin_list span {
    display: block;
    background: #d7dfe9;
    width: 50px;
    height:50px;
    padding: 20px;
    border-radius:8px 0px 0px 8px;
    -moz-border-radius:8px 0px 0px 8px; -webkit-border-radius:8px 0px 0px 8px;
    visibility: visible;
    float:left;
}
.list_ico:before { 
    font-family: FontAwesome;
    color: #2c98c9;
    font-size:1.8em; 
    padding: 10px;
}

.excel_icon:before {
    content: "\f1c3";
}

.pdf_icon:before {
    content: "\f1c1";
}

.dollar_icon:before {
    content: "\f155"
}

.list_name { 
    display: block;
    font-size: 1.1em;
    width: 200px;
    height:50px;
    padding: 20px;
    text-align: center;
    border-radius:0px 8px 8px 0px;
    -moz-border-radius:0px 8px 8px 0px; -webkit-border-radius:0px 8px 8px 0px;
    float:left;
}
.valid {
    background: #93b3e4;
    color: whitesmoke;
}
.missing { 
    color: #734c00;
    border-color: #f4daa6 #f4daa6 #f4daa6 transparent;
    background-color: #fdf8ed;
}

/*
* Home dashboard
*/

.widget-home {
    padding:10px;
}
.widget-home .info {
    background-color: #93b3e4;
}
.widget-home .new {
    background-color: #1AFF00;
}
.home-title {
    width:50%;
    border-radius:8px 8px 0px 0px;
    -moz-border-radius:8px 8px 0px 0px; -webkit-border-radius:8px 8px 0px 0px;
}

.home-title span{
    display: inline;
}

.home-title h1{
    display: inline;
}

.home-content {
    width:50%;
    background-color: #ddd;
}
.home-content div {
    padding:10px;
}

.home-footer {
    width:50%;
    border-radius:0px 0px 8px 8px;
    -moz-border-radius:0px 0px 8px 8px; -webkit-border-radius:0px 0px 8px 8px;
    background-color: #ddd;
}
.home-footer div {
    padding:10px;
}

.star_icon:before {
    content: "\f006";
}
.check_icon:before {
    content: "\f046";
}