.reddot {
  background-image: url(../art/reddot.png) ;
  background-repeat: no-repeat;
  width: 10px;
  height:10px;
}

.orangedot {
  background-image: url(../art/orangedot.png) ;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}
.yellowdot {
  background-image: url(../art/yellowdot.png) ;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

.greendot {
  background-image: url(../art/greendot.png) ;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

.right {
  text-align:right;
}

.table {
  display: table;
  width: 100%;
}

.row {
  display : table-row;
  height:auto;
}

.header_tb {  
  display : table-cell;
}

.cell {  
  display : table-cell;
}

.cellborder {  
  border-width: thin ;
	border-spacing: 1px;
	border-style: solid;
	border-color: #A4A4A4;
	border-collapse: collapse;
	background-color: #CEE3F6;
	padding: 2px;
}

.amount {
  text-align:right;
}

.current {
  background-color:#F2F5A9;
}

.red {
  color: #FF6666;
}

.green {
  color: #00D744;
}

.blue {
  color: #2E64FE;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #A4A4A4 -moz-use-text-color -moz-use-text-color;
  border-image: none;
  border-right: 0 none;
  border-style: solid none none;
  border-width: 1px 0 0;
  margin-bottom: 2px;
  margin-top: 2px;
  height: 0;
}

#delivery_form_footer .form-item, .form-actions {
    margin-bottom: 0em !important;
    margin-top: 0em !important;
}

#delivery_form_items .form-item, .form-actions {
    margin-bottom: 0em !important;
    margin-top: 0em !important;
}

#receiving_form_footer .form-item, .form-actions {
    margin-bottom: 0em !important;
    margin-top: 0em !important;
}

#receiving_form_items .form-item, .form-actions {
    margin-bottom: 0em !important;
    margin-top: 0em !important;
}
#returning_form_footer .form-item, .form-actions {
    margin-bottom: 0em !important;
    margin-top: 0em !important;
}

#returning_form_items .form-item, .form-actions {
    margin-bottom: 0em !important;
    margin-top: 0em !important;
}
.tip-module-ek-logistics{
  background-color: #CEE3F6 !important;
}