
.right {
  text-align:right;
}

.table {
  display: table;
  width: 100%;
}

.row {
  display : table-row;
  height:auto;
}

.header_tb {  
  display : table-cell;
}

.cell {  
  display : table-cell;
}

.cellborder {  
  border-width: thin ;
	border-spacing: 1px;
	border-style: solid;
	border-color: #A4A4A4;
	border-collapse: collapse;
	background-color: #CEE3F6;
	padding: 2px;
}

.amount {
  text-align:right;
}

.current {
  background-color:#CEE3F6 !important;
}

.delete {
  background-color:#FF6666 !important;  
}

.red {
  color: #FF6666;
}

.green {
  color: #00D744;
}

.blue {
  color: #2E64FE;
}

.yellow {
  color: #f5e742;
}
.button--record:hover {
    background-color: #FFF;
    color: #FFF !important;
    background-image: linear-gradient(to bottom, #FF6666, #981010) !important;
    border-color: #FF6666 #981010 #981010 !important;
}

.button--add:hover {
    background-color: #FFF;
    color: #FFF !important;
    background-image: linear-gradient(to bottom, #A9F5A9, #298A08) !important;
    border-color: #A9F5A9 #298A08 #298A08 !important;
}

.button--remove:hover {
    background-color: #FFF;
    color: #FFF !important;
    background-image: linear-gradient(to bottom, #F7BE81, #DF7401) !important;
    border-color: #F7BE81 #DF7401 #DF7401 !important;
}

.badge {
    background-color: #dbdbdb;
    border-radius: 3px;
    color: #686868;
    font-size: 0.9em;
    padding: 3px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    margin: 0px 0px 0px 5px;   
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #A4A4A4 -moz-use-text-color -moz-use-text-color;
  border-image: none;
  border-right: 0 none;
  border-style: solid none none;
  border-width: 1px 0 0;
  margin-bottom: 2px;
  margin-top: 2px;
  height: 0;
}


.tip-module-ek-logistics{
  background-color: #CEE3F6 !important;
}