.panel-default {
    border-color: #DDDDDD;
}
.panel {
    padding: 0px !important;
}

.panel-title {
    color: #fff;
    cursor:pointer;
}

.panel-heading {
    padding: 2px 2px 3px 15px;
}

.panel-body {
    padding: 15px;
}

.right {
    text-align:right;
}

.text-left {
    float: left;
}

.text-right {
    float: right;
}

.table {
    display: table;
    width: 100%;
}

.row {
    display : table-row;
    height:auto;
}

.header_tb {  
    display : table-cell;
}

.cell {  
    display : table-cell;
    vertical-align: top;
    float: left;
    padding-left: 30px;

}
.cellcenter > div {
    margin-left:auto;
    margin-right:auto;
}

.cell20 {
    width: 20%;
}

.cell30 {
    width: 30%;
}
.cell50 {
    width: 50%;
}
.cellborder {  
    border-width: thin ;
    border-spacing: 1px;
    border-style: solid;
    border-color: #A4A4A4;
    border-collapse: collapse;
    background-color: #CEE3F6;
    padding: 2px;
}

.amount {
    text-align:right;
}

.current {
    background-color:#CEE3F6 !important;
}

.delete {
    background-color:#FF6666 !important;  
}

.red {
    color: #FF6666;
}

.green {
    color: #00D744;
}

.blue {
    color: #2E64FE;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A4A4A4 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 2px;
    margin-top: 2px;
    height: 0;
}

#invoice_form_footer .form-item, .form-actions {
    margin-bottom: 0em !important;
    margin-top: 0em !important;
}

#invoice_form_items .form-item, .form-actions {
    margin-bottom: 0em !important;
    margin-top: 0em !important;
}

#purchase_form_footer .form-item, .form-actions {
    margin-bottom: 0em !important;
    margin-top: 0em !important;
}

#purchase_form_items .form-item, .form-actions {
    margin-bottom: 0em !important;
    margin-top: 0em !important;
}

.tip-module-ek-sales{
    background-color: #CEE3F6 !important;;
}

.button--record:hover {
    background-color: #FFF;
    color: #FFF !important;
    background-image: linear-gradient(to bottom, #FF6666, #981010) !important;
    border-color: #FF6666 #981010 #981010 !important;
}

.button--add:hover {
    background-color: #FFF;
    color: #FFF !important;
    background-image: linear-gradient(to bottom, #A9F5A9, #298A08) !important;
    border-color: #A9F5A9 #298A08 #298A08 !important;
}

.button--remove:hover {
    background-color: #FFF;
    color: #FFF !important;
    background-image: linear-gradient(to bottom, #F7BE81, #DF7401) !important;
    border-color: #F7BE81 #DF7401 #DF7401 !important;
}

.badge {
    background-color: #dbdbdb;
    border-radius: 3px;
    color: #686868;
    font-size: 0.9em;
    padding: 3px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    margin: 0px 0px 0px 5px;   
}

/*
* items autocomplete
*/
.ui-menu-item {
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: gray;
    border-bottom-style: none;
    border-bottom-style: solid;
}

/*
* Drag Drop
*/

.tr-drop {
   background-color: #FF6666; 
}

tr.drop-folder {
   cursor: pointer;
}

tr.move {
    //display:none;
}