.panel-default {
    border-color: #dbdbdb;
}
.panel {
    padding: 0px !important;
}

.panel-title {
    color: #fff;
    cursor:pointer;
}

.panel-heading {
    padding: 2px 2px 3px 15px;
}

.panel-body {
    padding: 15px;
}

.right {
    text-align:right;
}

.text-left {
    float: left;
}

.text-right {
    float: right;
}

.table {
    display: table;
    width: 100%;
}

.row {
    display : table-row;
    height:auto;
}

.header_tb {  
    display : table-cell;
}

.cell {  
    display : table-cell;
    vertical-align: top;
    float: left;
    padding-left: 30px;

}
.cellcenter > div {
    margin-left:auto;
    margin-right:auto;
}

.cell20 {
    width: 20%;
}

.cell30 {
    width: 30%;
}
.cell50 {
    width: 50%;
}
.cellborder {  
    border-width: thin ;
    border-spacing: 1px;
    border-style: solid;
    border-color: #696969;
    border-collapse: collapse;
    background-color: #e6f5ff;
    padding: 2px;
}

.amount {
    text-align:right;
}

.current {
    background-color:#e6f5ff !important;
}

.rowheader {
    border-bottom: 1px solid #000;
    background-color: #696969 !important;
    color: #FFFFFF;
}

._rowheader {
    display: none;  
}    
.delete {
    background-color:#ff0000 !important;  
}

.red {
    color: #ff0000;
}

.green {
    color: #00D744;
}

.blue {
    color: #2E64FE;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #696969 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 2px;
    margin-top: 2px;
    height: 0;
}

.button--record:hover {
    background-color: #FFF;
    color: #FFF !important;
    background-image: linear-gradient(to bottom, #ff0000, #981010) !important;
    border-color: #ff0000 #981010 #981010 !important;
}

.button--add:hover {
    background-color: #FFF;
    color: #FFF !important;
    background-image: linear-gradient(to bottom, #A9F5A9, #298A08) !important;
    border-color: #A9F5A9 #298A08 #298A08 !important;
}

.button--remove:hover {
    background-color: #FFF;
    color: #FFF !important;
    background-image: linear-gradient(to bottom, #F7BE81, #DF7401) !important;
    border-color: #F7BE81 #DF7401 #DF7401 !important;
}

.s-badge {
    background-color: #dbdbdb;
    border-radius: 3px;
    color: #686868;
    font-size: 0.9em;
    padding: 3px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    margin: 0px 0px 0px 5px;   
}

/*
* items autocomplete
*/
.ui-menu-item {
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: gray;
    border-bottom-style: none;
    border-bottom-style: solid;
}

/*
* Drag Drop
*/

.tr-drop {
    background-color: #ff0000; 
}

tr.drop-folder {
    cursor: pointer;
}


/*
* Searc doc
*/
#doc-search-result {
    list-style-type: none;
}

#doc-search-result li {
    margin-bottom: 10px;
}

#doc-search-result a {
    text-decoration: none;
    color: #1a0dab;
    font-size: 1.3em;
    border-bottom: none;
}
#doc-search-result a:hover {
    background-color: #e6f5ff;
}
#doc-search-result .file {
    display: inline-block;
    color: #aaa;
}

#doc-search-result .info {
    background-color: #F8F8F8;
}

/* Style the dialog-off-canvas container. */
/* Layer the dialog just under the toolbar. */
/* https://www.drupal.org/project/drupal/issues/2958588 */


#drupal-off-canvas input[type="submit"].button:hover {
    background-color: #696969 !important;
}


#drupal-off-canvas .ui-autocomplete, .ui-menu-item div {
    background: #ccffff !important;
    padding-left:1px;
    color: #3A3A3A !important;
}

#drupal-off-canvas .ui-autocomplete div:hover {
    border: 1px solid 0088cc;
    background-color: #0088cc !important;
    color: #fff !important;
    cursor:pointer;
}

#drupal-off-canvas .ui-autocomplete li > div:hover {
    color: #fff !important;
    cursor:pointer;
}