.table {
    display: table;
    width: 100%;
}

tr {
    background: #FFFFFF !important;
}
.row {
    display : table-row;
    height:auto;
}

.header_tb {  
    display : table-cell;
    padding: 5px 5px 5px 5px;
}

.cell {  
    display : table-cell;
    padding: 1px 1px 5px 10px !important;
}

.cellborder {  
    border-width: thin ;
    border-spacing: 1px;
    border-collapse: collapse;
    background-color: #CEE3F6;
}

.thumbnail {
    width : 50px;
}

.ab-panel {
    background-color: #FFFFFF !important;
    padding: 0px !important;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 5px 20px rgb(169, 188, 245);
    margin: 0px !important;
}
.ab-panel-heading {
    background-color: #A9BCF5;
    border-color: #A9BCF5;
    color: #333333;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 1px 5px;
    text-align: center;
}
.ab-panel-heading a {
    color: #313131;
}
.ab-panel-body {
    padding: 15px;
}

.closed {
    display : none;
}

.text-left {
    float: left;
}

.text-right {
    float: right;
}

.delete {
    background-color: #FF6666;
    color: #FFFFFF;
}

.select {
    background-color: #66FF97;
    color: #FFFFFF;
}

.ab-badge {
	background-color: #ddd;
	border-radius: 5px;
	color: #2b2b2b;
	display: inline-block;
	/* font-size: 1.1em; */
	font-weight: bold;
	/* line-height: 1; */
	min-width: 10px;
	padding: 5px 9px;
	/* text-align: center; */
	/* vertical-align: baseline; */
	/* white-space: nowrap; */
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A4A4A4 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 2px;
    margin-top: 2px;
    height: 0;
}

/* clipboard */

.clipboard_add , .clipboard_name {
    cursor : copy;
}

.copy {
    display:none;
    color: green;
    padding-left: 20px;
    font-size: 0.8em;
}
/* search display */
.abook_thumbnail {
    width: 40px;
    height: 40px;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 10px;
    border: solid 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.abook_default_image {
    content:url("../art/default.jpg");
}

#abook-search-result {
    overflow: auto;
    padding-top: 5px;
}
.abook_image-link {
    border-bottom: 0px !important;
}

div .client {
    background-color: #6474FF;
}
div .supplier {
    background-color: #00B515;
}
div .other  {
    background-color: #9F9F9F;
}
.ico:before {
    font-family: FontAwesome;
    font-size:1.3em;
    color: #446E9B;
    width: 1.4em;
    text-align: center;
    display: inline-block;
    text-rendering: auto;
}

.search:before {
    content: "\f002";
}
.pencil:before {
    content: "\f044";
}
.map-marker:before {
    content: "\f041";
}
.phone:before {
    content: "\f095";
}
.users:before {
    content: "\f0c0";
}
.plus:before {
    content: "\f067";
}

.user:before {
    content: "\f2be"; 
}
.briefcase:before {
    content: "\f0b1"; 
}
.tag:before {
    content: "\f02b"; 
}
.mobile:before {
    content: "\f10b";
}
.envelope:before {
    content: "\f003"; 
}
.link:before {
    content: "\f0c1"; 
}
.comment:before {
    content: "\f075"; 
}
.file-pdf:before {
    content: "\f1c1"; 
}
.namecard:before {
    content: "\f2bc";
    font-size:2em;
}