<div id="trackBlock" class="">
    <h4 id="activityList"><i class="fa fa-circle-o fa-fw"></i><a href='#'>{{ items.title }}</a></h4>
    <div class="tracklist">
        <ul></ul>
    </div>
    <div>
        <audio class="tbeep" id="tbeep" preload>
            <source src="{{ items.link }}" type="audio/wav">
        </audio>
    </div>
</div>