.hand {
    cursor:pointer;
}

.table {
    display: table;
    width: 100%;
}

.row {
    display : table-row;
    height:auto;

}

.header_tb {  
    display : table-cell;
}

.cell {  
    display : table-cell;
}

.cell20 {  
    display :inline-block;
    width: 20px;
}

.cell50 {  
    display :inline-block;
    width: 50px;
}

.cell100 {  
    display :inline-block;
    width: 100px;
}

.cell150 {  
    display :inline-block;
    width: 150px;
}


.cellcenter {
    padding: 1px;
    text-align: center;
}

.form-item, .form-actions {
    margin-bottom: 0em !important;
    margin-top: 0em !important;
}

.row .form-item, .form-actions {
    margin-bottom: 0em !important;
    margin-top: 0em !important;
}

#edit-cutoff {
    width:5em;
}
.cellborder {  
    border-width: thin ;
    border-spacing: 1px;
    border-style: solid;
    border-color: #A4A4A4;
    border-collapse: collapse;
    padding: 1px;
    text-align: center;
}

.ui-widget-header{
    background: #95caff !important;
}

.ph {
    background-color: #FFBF00;
}

.sun {
    background-color: #CCC;
}

.day {
    min-width: 30px;
    padding: 4px 2px;
}

.day:hover{
    background-color: #dbe1ea;
}

.week {
    background-color: #FFFFFF;
}

.slide {
    display:none;
}

.handle {
    width:5%;
}

.time{
    font-size:0.9em;
    padding: 4px 2px;
    text-align: center;
}

.sliderbox {
    float:left;
    border-width: thin ;
    border-spacing: 1px;
    border-style: solid;
    border-color: #A4A4A4;
    font-size:0.8em;
    background-color: #FFF;
}

.sliderui {
    width:15%;
    float:left;
    padding: 1px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:10px;
}

.slidernote {
    width:3%;
    float:left;
    padding: 1px;
    margin-left: 3px;
    margin-right: 5px;
    margin-bottom:10px;
}

.status {
    width:5%;
}

.calendar-ico {
    display: none;
}
.calendar-ico:before {
    font-family: FontAwesome;
    font-size:2em;
    color: #446E9B;
    width: 1.4em;
    text-align: center;
    display: inline-block;
    text-rendering: auto;
    content: "\f022";
}

.export-ico:before {
    font-family: FontAwesome;
    font-size:2em;
    color: #33a333;
    width: 1.4em;
    text-align: center;
    display: inline-block;
    text-rendering: auto;
    content: "\f1c3";
}


.info_no:before {
    content: "\f069"; 
    font-family: FontAwesome;
    font-size:1em;
    color: #408FD7;
    text-align: center;
    display: inline-block;
    text-rendering: auto;
}

.info_on:before {
    content: "\f069"; 
    font-family: FontAwesome;
    font-size:1em;
    color: #FFBF00;
    text-align: center;
    display: inline-block;
    text-rendering: auto;
}

.button--update:hover {
    background-color: #FFF;
    color: #FFF !important;
    background-image: linear-gradient(to bottom, #A9F5A9, #298A08) !important;
    border-color: #A9F5A9 #298A08 #298A08 !important;
}

.button--record:hover {
    background-color: #FFF;
    color: #FFF !important;
    background-image: linear-gradient(to bottom, #81ADF8, #0059DF) !important;
    border-color: #81ADF8 #0059DF #0059DF !important;
}