.reddot {
  background-image: url(../art/reddot.png) ;
  background-repeat: no-repeat;
  width: 10px;
  height:10px;
}

.orangedot {
  background-image: url(../art/orangedot.png) ;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

.greendot {
  background-image: url(../art/greendot.png) ;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

.right {
  text-align:right;
}

.left {
  text-align:left;
}

.table {
  display: table;
  width: 100%;
}

.row {
  display : table-row;
  height:auto;
}

.header_tb {  
  display : table-cell;
}

.cell {  
  display : table-cell;
  line-height: 1;
}
.cellsmall {  
  display :inline-block;
  width: 100px;
}

.cellmedium {  
  display :inline-block;
  width: 300px;
}
.cellnarrow {  
  display :inline-block;
  width: 30px;
}

.cellborder {  
  border-width: thin ;
	border-spacing: 1px;
	border-style: solid;
	border-color: #A4A4A4;
	border-collapse: collapse;
	padding: 2px;
}

.cellbordertop {  
  border-width: 0px 1px 0px 0px ;
	border-spacing: 1px;
	border-style: solid;
	border-color: #A4A4A4;
	border-collapse: collapse;

}
.inline {
  display:inline;
}

.amount {
  text-align:right;
}

.current {
  background-color:#F2F5A9;
}

.delete {
    background-color: #FF6666;
    color: #FFFFFF;
    background: none repeat scroll 0 0 #FF6666 !important;
}

.select {
    background-color: #66FF97;
    color: #0B3B0B;
}

.red {
  color: #FF6666;
}
.green {
  color: #66FF97;
}

.blue {
  color: #CEE3F6;
}

.back_red {
  background-color: #FF6666;
}
.back_green {
  background-color: #66FF97;
}

.back_blue {
  background-color: #CEE3F6;
}

.back_yellow {
  background-color: #F2F5A9;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
   border-color: #A4A4A4 -moz-use-text-color -moz-use-text-color;
  border-image: none;
  border-right: 0 none;
  border-style: solid none none;
  border-width: 1px 0 0;
  margin-bottom: 2px;
  margin-top: 2px;
  height: 0;
}

#payroll_data .form-item, .form-actions {
    margin-bottom: 0em !important;
    margin-top: 0em !important;
}

.hr_thumbnail {
    
    width: 30px;
    height: 30px;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0, 128, 255, 1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.hr_default_image {
    content:url("../art/default.png");
}

#hr-search-result {
   max-height: 300px;
   overflow: auto;
}
.hr_image-link {
  border-bottom: 0px !important;
}