.thumbnail {
    width : 75px;
}

.medium {
    width : 150px;
}

.large {
    width : 300px;
}

.delete {
    background-color: #FF6666;
    color: #FFFFFF;
}

.text-right {
    text-align:right;
}
.text-left {
    text-align:left;
}
.text-center {
    text-align:center;
}

.table {
    display: table;
    width: 100%;
}

.row {
    display : table-row;
    height:auto;

}

.cell {  
    display : table-cell;
    vertical-align: middle;
    float: left;
    padding-left: 10px;
}

.cell50 {  
    display :inline-block;
    width: 50px;
    float: left;
    padding-left: 10px;
}

.cell100 {  
    display :inline-block;
    width: 100px;
    float: left;
    padding-left: 10px;
}

.cell150 {  
    display :inline-block;
    width: 150px;
    float: left;
    padding-left: 10px;
}

.cell200 {  
    display :inline-block;
    width: 200px;
    float: left;
    padding-left: 10px;
}

.cell300 {  
    display :inline-block;
    width: 300px;
    float: left;
    padding-left: 10px;
}

.cellcenter {
    padding: 2px;
    text-align: center;
}

.cellborder {  
    border: solid;
    border-width: thin;
    border-spacing: 1px;
    border-collapse: collapse;
    border-color: #CEE3F6;
    //background-color: #CEE3F6;

}

.badge {
    background-color: #9dbed0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 5px 9px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.barcode:before {
  content: "\f02a";
}