.pointer {
   cursor: pointer; 
}

.right {
  text-align:right;
}
.floatleft {
  float : left;
}

.floatright {
  float : right;
}

.table {
  display: table;
  width: 100%;
}

.row {
  display : table-row;
  height:auto;
  
}

.header_tb {  
  display : table-cell;
}

.cell {  
  display : table-cell;
}
.cellfloat {  
  float: left;
  padding-left: 30px;
}

.cell50 {  
  display :inline-block;
  width: 50px;
}

.cell100 {  
  display :inline-block;
  width: 100px;
}

.cell150 {  
  display :inline-block;
  width: 150px;
}

.cell200 {  
  display :inline-block;
  width: 200px;
}

.cell300 {  
  display :inline-block;
  width: 300px;
}

.cellcenter {
  padding: 2px;
  text-align: center;
}

.td-info {
    width: 25%;
}

.td-data {
    color: #425897;
    font-size: 1.1em;
    background-color: #FFF;
}

.grey {
  background-color : #dbdbdb !important;
}

#accounts_list .form-item, .form-actions {
  margin-bottom: 0em !important;
  margin-top: 0em !important;
}

.row .form-item, .form-actions {
  margin-bottom: 0em !important;
  margin-top: 0em !important;
}

.cellborder {  
  border-width: thin ;
  border-spacing: 1px;
  border-style: solid;
  border-color: #696969;
  border-collapse: collapse;
  background-color: #e6f5ff;
  padding: 2px;
  text-align: center;
}

.cellborderbottom {  
  border-width:  0 0 thin 0 ;
  border-spacing: 1px;
  border-style: solid;
  border-color: #696969;
  border-collapse: collapse;


}

.amount {
  text-align:right;
}

.current {
  background-color:#F2F5A9;
}

.delete {
    background-color: #ff0000;
    color: #FFFFFF;
}

.record {
    background-color: #64FE2E;
    color: #000;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #696969 -moz-use-text-color -moz-use-text-color;
  border-image: none;
  border-right: 0 none;
  border-style: solid none none;
  border-width: 1px 0 0;
  margin-bottom: 2px;
  margin-top: 2px;
  height: 0;
}

.formexpense input[type="file"] {
 display: none;
}

.form-type-managed-file label {
  border: 1px dashed #dbdbdb;
  padding: 4px 12px;
  background-color: #f5f5f5;
  margin-top: 8px;
}

.form-type-managed-file label:hover {
  background-color: #dbdbdb;
}

.button--record:hover {
    background-color: #FFF;
    color: #FFF !important;
    background-image: linear-gradient(to bottom, #ff0000, #981010) !important;
    border-color: #ff0000 #981010 #981010 !important;
}


.button--add:hover {
    background-color: #FFF;
    color: #FFF !important;
    background-image: linear-gradient(to bottom, #A9F5A9, #298A08) !important;
    border-color: #A9F5A9 #298A08 #298A08 !important;
}

.button--remove:hover {
    background-color: #FFF;
    color: #FFF !important;
    background-image: linear-gradient(to bottom, #F7BE81, #DF7401) !important;
    border-color: #F7BE81 #DF7401 #DF7401 !important;
}

.red {
  color: #ff0000;
}

.green {
  color: #00D744;
}

.file_input {
  color: #fff !important;
}

.journal-exchange {
  background-color : #FFF !important;
  font-size: 0.8em !important;
}

.journal-total-exchange {
  background-color : #e6f5ff !important;
}

.journal-total {
  background-color : #e6f5ff !important;
  border-width: thin ;
  border-spacing: 1px;
  border-style: solid;
  border-color: #696969;
  border-collapse: collapse;
  background-color: #e6f5ff;
}

.journal-closing {
  font-weight: bold;
}

.journal-reference {
  background-color : #a9bcf5 !important;
  font-size: 1.5em !important;
  padding-left: 10px!important;
}

.panel-default {
    border-color: #dbdbdb;
}
.panel {
    padding: 0px !important;
}

.panel-title {
    color: #fff;
    cursor:pointer;
}

.panel-heading {
    padding: 2px 2px 3px 15px;
}

.panel-body {
    padding: 8px;
}

.cash-total {
  background-color : #e6f5ff !important;
  border-width: thin ;
  border-spacing: 1px;
  border-style: solid;
  border-color: #696969;
  border-collapse: collapse;
  background-color: #e6f5ff;
	

}

.verticalText {
    -webkit-transform: rotate(-20deg); 
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
    writing-mode:bt-rl;
    white-space:nowrap;
    display:block;
    padding:1px;
    width:20px;
}


