tr td {
    border : 0px !important;
    padding : 1px 2px!important;

}

.right {
    text-align: right !important;
}

.left {
    text-align: left !important;
}

.head {
    background-color: #C0C0C0;
    color: #FFF;
    font-weight: bold;
}

.head_row {
    padding-left: 10px !important;
}
.classe {
    background-color: #C0C0C0;
    border-top: 1px solid #FFF !important;
}

.classe_row {
    padding-left: 20px !important;
}

.detail {
    text-shadow: 0 1px 0 #fff ;
    background-color: #CEE3F6 ;
}
.detail_row {
    padding-left: 25px !important;
}

.subtotal {
    font-weight: bold;
    background-color: #D8D8D8;
    border-top: 1px solid #000 !important;
}

.total {
    font-weight: bold;
    background-color: #D8D8D8 !important;
}

.grandtotal {
    font-weight: bold;
    border-top: 1px solid #848484 !important;
    background-color: #82b1ff ;
}
.grandtotal td {
    padding: 5px !important;
}
.grandtotal:hover {
   font-size : 1.1em;
}

.netasset {
    font-size : 1.2em;
    font-weight: bold;
    border: 1px solid #848484 !important;
    border: 1px solid;
}
.netasset td {
    padding: 5px !important;
}

.red {
    color: #FF6666;
}

.editinline {
    border: 0;
    text-align: right;
    padding: 0px;
}

.column_aid {
    width:15% !important;
}
.column_value {
    width:6% !important;
}

.report {
    table-layout: fixed;
    width: 100%;
}