tr td {
  border : 0px !important;
  padding : 1px 2px!important;
  
}

.right {
  text-align: right !important;
}

.left {
  text-align: left !important;

}

.header_tb {
  font-size : 1.4em;
  //text-shadow: 0 1px 0 #fff ;
  background-color: #81DAF5 ;
}

.classe {
  font-weight: bold;
  background-color: #C0C0C0 ;
  border-top: 1px solid #848484 !important;
}

.detail {
  text-shadow: 0 1px 0 #fff ;
  background-color: #CEE3F6 ;
}

.detail span {
  margin-left: 1em;
}

.data1  {
  font-size : 0.9em;
}
.data2  {
  font-size : 0.9em;
}
.data3  {
  font-size : 0.9em;
}

.subtotal {
  font-weight: bold;
  background-color: #C0C0C0 ;
  border-top: 1px solid #848484 !important;
}

.total {
  font-size : 1.1em;
  font-weight: bold;
  background-color: #cee3f6 ;
}

.grandtotal {
    font-size : 1.1em;
    //font-weight: bold;
    border-top: 1px solid #848484 !important;
    background-color: #74b2e2 ;
    color:#000;
}

.grandtotal:hover {
    font-size : 1.1em;
    font-weight: bold;
    border-top: 1px solid #848484 !important;
    color:#FFF;
    background-color: #000 ;
}

.netasset {
    font-size : 1.2em;
    font-weight: bold;
    border-top: 1px solid #848484 !important;
    //background-color: #81DAF5 ;
    border: 1px solid;
    padding: 5px 1px 5px 1px;
}

.red {
  color: #FF6666;
}

.editinline {
  border: 0;
  text-align: right;
  padding: 0px;
 }
 
 .column_aid {
     width:15% !important;
 }
 .column_value {
     width:6% !important;
 }
 
 .report {
     table-layout: fixed;
     width: 100%;
 }