{% set library, height, width, height_units, width_units = 'charts_' ~ chart_type ~ '/' ~ chart_type, options.height, options.width, options.height_units, options.width_units %}

{{ attach_library("#{ library }") }}

<div {{ attributes }} {{ content_attributes }} style="width:500px; height:400px;"></div>
