<section>
    {{ items.filter_print }}   
</section>
<section>
    {{ items.filter_mail }}
</section>
<section>
    <span class="view_popup text-right">{{ items.external|raw }}</span>
    {{ items.iframe|raw }}
</section>