.shared_document_badge {
    background-color: #46ae31;
    color: #fff;
    border: 1px solid #06ff2d;
    border-radius: 25px;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    min-width: 20px;
    top:-5px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
}

.doc-panel {
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
    padding:0px !important;
    border: 1px solid #ccc;
    box-shadow: 0 5px 20px rgb(169, 188, 245);
}

.doc-panel-heading {
    background-color: #A9BCF5;
    border-color: #A9BCF5;
    color: #333;
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 5px 20px;
    cursor:pointer
}
.doc-panel-body {
    display : block;
    padding: 10px;
}
.doc-panel-body:after {
    clear: both;
}
.doc-panel-body:before, .doc-panel-body:after {
    content: " ";
    display: table;
}

.doc-badge {
    background-color: #999;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.bar {
    height:2em;
}

.doc_canvas {
    width: 120px;
    height:130px;
    float: left;
}

.doc_menu {
    background-color: #FFF;
    width: 100px;
    height:130px;
    visibility: hidden;
}

.doc_menu:hover{
    visibility: visible;
}

@media screen and (max-width: 37.5em) { /* 600px */
  div.doc_menu {
    visibility: visible;
  }
}
@media screen and (max-width: 60em) { /* 920px */
   div.doc_menu {
    visibility: visible;
  }   
}
.doc_content {
    background: url("images/overlay.png") repeat scroll 0 0 transparent;
    display: block;
    font-size: 0.8em;
    font-family: Arial,Garuda;
    width: 100px;
    height:100px;
    padding: 8px;
    border-radius:8px;
    -moz-border-radius:8px; -webkit-border-radius:8px;
    visibility: visible;
    box-sizing: border-box;
}

.doc_content a {
    text-decoration:none !important;
    border-bottom: 0px;
}

.tb_doc_content a {
    text-decoration:none !important;
    border-bottom: 0px;
}
.red {
    color: #FF6666;
}

.green {
    color: #00D744;
}

.blue {
    color: #2E64FE;
}

.float-right {
    float: right;
    margin-left: 2px;
}

.float-left {
    float: left;
    margin-left: 2px;

}

@-webkit-keyframes spinner-spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
@-moz-keyframes spinner-spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
@-o-keyframes spinner-spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
@-ms-keyframes spinner-spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
@keyframes spinner-spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }

.spin-ico:before {
    content: "\f1ce"; 
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #0dec2a;
    float:right;
   -webkit-animation: spinner-spin  1s steps(8) infinite;
   -moz-animation: spinner-spin  1s steps(8) infinite;
   -o-animation: spinner-spin  1s steps(8) infinite;
   animation: spinner-spin  1s steps(8) infinite;
}

.top-ico:before {
    content: "\f0aa"; 
    font-family: FontAwesome;
    font-size:1.8em;
    color: #419ff1;
    float:right;
}

.folder-ico:before {
    content: "\f114"; 
    font-family: FontAwesome;
    font-size:1.5em;
    color: #fff;
    padding-right: 5px;
}

.open-ico:before {
    content: "\f2d0"; 
    font-family: FontAwesome;
    font-size:1.5em;
    padding-left: 5px;
    color: #419ff1;
    cursor:pointer;
}

.close-ico:before {
    content: "\f2d1"; 
    font-family: FontAwesome;
    padding-left: 5px;
    font-size:1.5em;
    color: #446E9B;
    cursor:pointer;
}

.list-ico:before {
    content: "\f03a"; 
    font-family: FontAwesome;
    padding-left: 5px;
    font-size:1.5em;
    color: #446E9B;
    cursor:pointer;
}

.grid-ico:before {
    content: "\f009"; 
    font-family: FontAwesome;
    padding-left: 5px;
    font-size:1.5em;
    color: #446E9B;
    cursor:pointer;
}


.handle-ico div {
    position:relative; 
}
.handle-ico div:before {
    content: "\f047"; 
    font-family: FontAwesome;
    font-size:1.2em;
    color: #7d97a5;
}

.handle-ico p:hover {
    cursor:all-scroll;
}
.handle-ico div:hover {
    cursor:all-scroll;
}
.trash-ico {
    position:relative;
}    
.trash-ico:before {
    content: "\f014"; 
    font-family: FontAwesome;
    left:-5px;
    top:0;
    font-size:1.5em;
    padding-left: 3px;
}

.trash-ico:hover {
    color: #E91E63;
    cursor:pointer;
}

.share-ico {
    position:relative;
}
.share-ico:before {
    content: "\f1e0"; 
    font-family: FontAwesome;
    left:-5px;
    top:0;
    font-size:1.5em;
    padding-left: 3px;
}

.share-ico:hover{
    color: #DF691A;
    cursor:pointer;
}

.shared-ico {
    position:relative;
}
.shared-ico:before{
    content: "\f1e0"; 
    font-family: FontAwesome;
    left:-5px;
    top:0;
    font-size:1.5em;
    padding-left: 3px;
    color: #00D744;
}

.shared-ico:hover{
    color: #DF691A !important;
    cursor:pointer;
}
.post-ico {
    position:relative;
}
.post-ico:before {
    content: "\f0c6"; 
    font-family: FontAwesome;
    left:-5px;
    top:0;
    font-size:1.5em;
    padding-left: 3px;
}

.post-ico:hover {
    color: #DF691A;
    cursor:pointer;
}

.move-ico {
    position:relative;
}
.move-ico:before {
    content: "\f0fe"; 
    font-family: FontAwesome;
    left:-5px;
    top:0;
    font-size:1.5em;
    padding-left: 3px;
}

.move-ico:hover {
    color: #DF691A;
    cursor:pointer;
}
.remove-ico {
    position:relative;
}
.remove-ico:before {
    content: "\f00d"; 
    font-family: FontAwesome;
    left:-5px;
    top:0;
    font-size:1.5em;
    padding-left: 3px;
}

.remove-ico:hover {
    color: #E91E63;
    cursor:pointer;
}

.ui-datepicker{
    z-index:3000 !important;
}
