.panel-default {
    border-color: #ddd;
}

.panel {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.panel-default > .panel-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #333;
}
.panel-heading {
    display: block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
    cursor:pointer
}

.panel-body {
    display : block;
    padding: 10px;
}


*, *:before, *:after {
    box-sizing: border-box;
}
.panel-body:after {
    clear: both;
}
.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}


.badge {
    background-color: #999;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.bar {
    
    height:2em;
    
}

.doc {
    background: url("images/overlay.png") repeat scroll 0 0 transparent;
    border: 1px solid #FFFFFF;
    display: block;
    float: left;
    font-size: 0.8em;
    font-family: Arial,Garuda;
    margin-left: 15px;
    width: 120px;
    height:120px;
    padding: 8px;
    border-radius:8px;
    -moz-border-radius:8px; -webkit-border-radius:8px;
}

.doc_menu {
    padding-bottom: 5px;
}

.doc_content {
    padding-top: 5px;
}
.doc a {
    text-decoration:none !important;
    border-bottom: 0px;
}
.doc_content a {
    text-decoration:none !important;
    border-bottom: 0px;
}
.red {
    color: #FF6666;
}

.green {
    color: #00D744;
}

.blue {
    color: #2E64FE;
}

.float-right {
    float: right;
    margin-left: 2px;
}

.float-left {
    float: left;
    margin-left: 2px;

}

.largeico {
    width:45px;
    margin-top:5px;
} 

.top-ico:before {
    content: "\f0aa"; 
    font-family: FontAwesome;
    font-size:1.8em;
    color: #419ff1;
    float:right;
}

.folder-ico:before {
    content: "\f114"; 
    font-family: FontAwesome;
    font-size:1.5em;
    color: #fff;
    padding-right: 5px;
}

.open-ico {
     //position:relative; 
}
.open-ico:before {
    content: "\f2d0"; 
    font-family: FontAwesome;
    font-size:1.5em;
    padding-left: 5px;
    color: #419ff1;
    cursor:pointer;
}
.close-ico {
     //position:relative; 
}
.close-ico:before {
    content: "\f2d1"; 
    font-family: FontAwesome;
    padding-left: 5px;
    font-size:1.5em;
    color: #446E9B;
    cursor:pointer;
}

.list-ico {
     //position:relative;
}
.list-ico:before {
    content: "\f03a"; 
    font-family: FontAwesome;
    padding-left: 5px;
    font-size:1.5em;
    color: #446E9B;
    cursor:pointer;
}
.grid-ico {
    //position:relative;
}
.grid-ico:before {
    content: "\f009"; 
    font-family: FontAwesome;
    padding-left: 5px;
    font-size:1.5em;
    color: #446E9B;
    cursor:pointer;
}


.handle-ico div {
    position:relative; 
}
.handle-ico div:before {
    content: "\f047"; 
    font-family: FontAwesome;
    left:-5px;
    top:-10px;
    font-size:1.2em;
    color: #333;
}

.handle-ico img:hover {
    cursor:all-scroll;
}
.handle-ico div:hover {
    cursor:all-scroll;
}
.trash-ico {
    position:relative;
}    
.trash-ico:before {
    content: "\f014"; 
    font-family: FontAwesome;
    left:-5px;
    top:0;
    font-size:1.5em;
    padding-left: 3px;
}

.trash-ico:hover {
    color: #E91E63;
    cursor:pointer;
}

.share-ico {
    position:relative;
}
.share-ico:before {
    content: "\f1e0"; 
    font-family: FontAwesome;
    left:-5px;
    top:0;
    font-size:1.5em;
    padding-left: 3px;
}

.share-ico:hover{
    color: #DF691A;
    cursor:pointer;
}

.shared-ico {
    position:relative;
}
.shared-ico:before{
    content: "\f1e0"; 
    font-family: FontAwesome;
    left:-5px;
    top:0;
    font-size:1.5em;
    padding-left: 3px;
    color: #00D744;
}

.shared-ico:hover{
    color: #DF691A !important;
    cursor:pointer;
}
.post-ico {
    position:relative;
}
.post-ico:before {
    content: "\f0c6"; 
    font-family: FontAwesome;
    left:-5px;
    top:0;
    font-size:1.5em;
    padding-left: 3px;
}

.post-ico:hover {
    color: #DF691A;
    cursor:pointer;
}

.move-ico {
    position:relative;
}
.move-ico:before {
    content: "\f0fe"; 
    font-family: FontAwesome;
    left:-5px;
    top:0;
    font-size:1.5em;
    padding-left: 3px;
}

.move-ico:hover {
    color: #DF691A;
    cursor:pointer;
}
.remove-ico {
    position:relative;
}
.remove-ico:before {
    content: "\f00d"; 
    font-family: FontAwesome;
    left:-5px;
    top:0;
    font-size:1.5em;
    padding-left: 3px;
}

.remove-ico:hover {
    color: #E91E63;
    cursor:pointer;
}

.ui-datepicker{
    z-index:3000 !important;
}